* {
    border:        none;
    border-radius: 0;
    font-family:   Sans;
    font-size:     16px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color:      rgba(235, 219, 178,1);
    background: rgba(35, 31, 32, 0.95);
}

window#waybar.solo {
    color:      rgba(235, 219, 178,1);
    background: rgba(35, 31, 32, 1);
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding:    0 5px;
    color:      rgba(235, 219, 178,1);
}

#workspaces button.visible {
    color:      rgba(235, 219, 178,1);
}

#workspaces button.focused {
    border-bottom: 3px solid rgba(235, 219, 178,1);
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail, #custom-volume, #custom-brightness, #custom-battery {
    margin:     0px 6px 0px 10px;
    min-width:  25px;
}

#clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}
